<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="${title}">Dhruvit Medical Store</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- Page Content -->
<main th:replace="${content}"></main>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
